body {
    background-color: #7F7D94;
    height: 100%;
}

.rectangle {
  width: 80%;
  height: 100%;
 // border-radius: 8px;
  background: #d3d3d3;
}
.boton-primario{
	//height: 150px;
}
.boton-primario:active{
	background: #c3c3c3;
}
